* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

body {
    background-color: #fafbfb;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    background-color: #fff;
}

nav {
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    display: flex;   
    height: 100%; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #212121;
}

.logo img {
    height: 40px;
}


.logo-text-bold{
    font-weight: 700;
}


.logo-text-light{
    font-weight: 300;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 16px;
    font-size: 0.9rem;
}


.hero {
    display: flex;
    padding: 96px 24px 32px 24px;
    justify-content: center;
    align-items: center;
}

.hero img {
    width: 60%;
}

.hero-copy {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    justify-content: center;
    height: 60%;
}

.hero-copy h1 {
    margin-bottom: 20px;
}

.hero button {
    margin-top: 30px;
    width: 40%;
    background-color: #212121;
    color: #fff;
    padding: 8px;
    border: none;
    font-size: 1rem;
}

.features {
    display: flex;
    padding: 32px 24px;
    background-color: #fff;
}

.quote {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;

}

.quote p {
    color: grey;
}

.origin {
    font-weight: 500;
}


.features li {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: rgb(242, 242, 242);
}

.features li:hover {
    background-color: lightgrey;
}

.feature-info {

    padding: 20px;

}

p {
    padding: 8px 0px;
    font-size: 0.8rem;
    color: grey;
}

.feature-info a {
    color: rgb(0, 145, 255);
    font-size: 0.8rem;
}

.feature-info ul {
    display: flex;
    justify-content: space-between;
}

.features li img {
    width: 35%;
    height: auto;
    
}
.subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 56px;
}

.subjects ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subjects li {
    max-width: 30%;
    margin: 16px;
    height: 300px;
    background-color: #fff;
}

.subjects, h1 {
    margin-bottom: 32px;
}


.subjects img {
    width: 100%;
    height: 60%;
    object-fit: cover;

}

.subject-info {
    padding: 16px;
}

.exhibit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    background-color: #fff;
}

.exhibit-container {
    display: flex;
}

.exhibit h1 {
    margin-bottom: 32px;
}

.featured {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
}
.exhibit ul {
    width: 50%;
}




.exhibit li {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: rgb(242, 242, 242);
}

.exhibit li:hover {
    background-color: lightgrey;
}

.exhibit-info {

    padding: 20px;

}


.exhibit-info ul {
    display: flex;
    justify-content: space-between;
}

.exhibit li img {
    width: 35%;
    height: 200px;
    object-fit: cover;
    
}

footer {
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    background-color: #212121;
}

footer ul {
    flex: 0.05;
    display: flex;
}

footer li {
    margin-left: 8px;
}